# Tuples

- Tuples are very similar to lists but not exactly the same
- Tuples are used when we want to put multiple elements together in one variable, this variable will be storing the reference address to the tuple
- If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'. This is because lists are mutable and tuples are immutable

In [28]:
a = (1, 2)

In [29]:
print(a)

(1, 2)

In [30]:
print(type(a))

<class 'tuple'>

In [31]:
b, c = 3, 4

print(b)
print(c)

e = 5, 6
print(e)
print(type(e))

3
4
(5, 6)
<class 'tuple'>

In [32]:
print(e[0])
print(e[1])
print(e[-1]) # -1 is the last element
print(e[-2]) # -2 is the second last element

5
6
6
5

In [33]:
f = (1, 2, 3, 4, 5, 6)

In [34]:
f[3:6]

(4, 5, 6)

In [35]:
f[3:]

(4, 5, 6)

# Difference b/w tuples and lists

Lists are mutable but tuples are immutable

In [36]:
f[4] = 34 # Returns an error - Tuple does not support an assignment

TypeError: 'tuple' object does not support item assignment

In [37]:
del f[4] # Returns an error - doesn't support deletion of an element

TypeError: 'tuple' object doesn't support item deletion

In [38]:
# We can delete the whole tuple itself
del f

In [39]:
del a
del b

# Tuples Functions

In [40]:
a = (1, 2, 3)
b = 4, 5

In [42]:
# for loops
for i in a:
    print(i)

1
2
3

In [44]:
1 in a # Checks if 1 is an element of 'a' or not, yes so it returns true

True

In [46]:
1 in b # 1 is not an element of b, so it returns false

False

In [47]:
len(a)

3

In [53]:
c = a + b # Concatenation of two tuples 'a' and 'b' into a new tuple 'c'

In [54]:
c

(1, 2, 3, 4, 5)

In [56]:
d = (a, b) # Creates two entries where a is the first entry tuple and b is the second entry tuple
d

((1, 2, 3), (4, 5))

In [59]:
# repetition
e = a * 4 # Repeat tuple 'e' four times
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [60]:
min(a) # Returns the minimum element of tuple 'a'

1

In [61]:
max(a)

3

In [64]:
a2 = (1, 2, "s", (1, 2))
min(a2) # Returns an error because you cannot compare a string and an integer|

TypeError: '<' not supported between instances of 'str' and 'int'

In [65]:
del a2

In [67]:
a2 = (1, 2, (1, 2))
min(a2) # Returns an error because you cannot compare a tuple and an integer

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [69]:
a3 = (1, 2.2)
min(a3) # We can compare a float and an integer

1

In [70]:
# Converting a list to a tuple
l = [1, 2, 3, 4]
tuple(l)

(1, 2, 3, 4)

In [71]:
# What will be the output of following code?

a = 1,2
b = (4,5)
d = (a,b)
print(d[0])

(1, 2)

In [73]:
# What will be the output of following code?

a = 1,2
b = (4,5)
d = a+b
print(d[2])

# d - (1, 2, 4, 5)

4

In [75]:
del a

In [77]:
# What will be the output of following code?

a = ("ab","abc","def")
print(min(a))

ab

# Variable Length Input and Output

In [1]:
# Objective - Function should be able to take the variable length input, i.e; the length of the input need not be fixed
# In the following code, *more is passed as a tuple to the sum-function
def sum(a, b, *more):
    print(a)
    print(b)
    print(type(more))
    ans = a + b
    for i in more:
        ans = ans + i
    return ans

In [2]:
sum(2, 3)

2
3
<class 'tuple'>

5

In [3]:
sum(2, 3, 4, 5)

2
3
<class 'tuple'>

14

In [4]:
def sum_diff(a, b):
    return a + b, a - b

In [5]:
# c is a tuple cause we are returning more than one value and python create a tuple for that
c = sum_diff(4, 1)
c

(5, 3)

In [6]:
d, e = sum_diff(4, 1)
print(d) # stores the sum in d
print(e) # stores the diff in e

5
3

In [7]:
del d

In [8]:
d = sum_diff(4, 1)
print(d)

(5, 3)

In [13]:
# What will be the output of following code?

def sum_multiply(a, b, *more):
    sum_value = a + b
    m_value = a * b
    for i in more:
        sum_value += i
        m_value *= i
    return sum_value, m_value
s_m = sum_multiply(2, 3, 4, 5, 6, 7, 8)
print(s_m)

Solution Description:
Following the conventional ways, we can return only a single value from any function. However, with the help of tuples, we can overcome this disadvantage. 
Tuples help us in returning multiple values from a single function. This can be done by returning comma-separated-values, from any function. On being returned, 
these comma-separated values act as a tuple. We can access the various entries from this returned tuple.

(35, 40320)