# Square Pattern

print the following pattern:

In [ ]:
For n = 4
****
****
****
****

In [5]:
n = int(input())
i = 1
while i <= n: # Because we are printing rows from i = 1 to n
    j = 1
    while j <= n:
        # Printing jth column
        print("*", end = ' ') # The print command by default ends with a new line
        j = j + 1
    print()
    i = i + 1

4
* * * *
* * * *
* * * *
* * * *

In [ ]:
Print the following pattern for the given N number of rows.
Pattern for N = 4
4444
4444
4444
4444
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
7
Sample Output 1:
7777777
7777777
7777777
7777777
7777777
7777777
7777777
Sample Input 1:
6
Sample Output 1:
666666
666666
666666
666666
666666
666666

In [6]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        print(n, end = '')
        j = j + 1
    print()
    i = i + 1

4
4444
4444
4444
4444

In [ ]:
Code : Triangular Star Pattern
Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
*
**
***
****
Note : There are no spaces between the stars (*).
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
*
**
***
****
*****
Sample Input 2:
6
Sample Output 2:
*
**
***
****
*****
******

In [8]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print('*', end = '')
        j = j + 1
    print() 
    i = i + 1

4
*
**
***
****

In [ ]:
Code : Triangle Number Pattern
Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
22
333
4444
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
1
22
333
4444
55555
Sample Input 2:
6
Sample Output 2:
1
22
333
4444
55555
666666

In [9]:
n = int(input())
i = 1
while(i <= n):
    j = 1
    while(j <= i):
        print(i, end = '')
        j = j + 1
    print()
    i = i + 1

4
1
22
333
4444

In [ ]:
Code : Reverse Number Pattern
Send Feedback
Print the following pattern for the given N number of rows.
Pattern for N = 4
1
21
321
4321
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
1
21
321
4321
54321
Sample Input 2:
6
Sample Output 2:
1
21
321
4321
54321
654321

In [11]:
n = int(input())
i = 1
while(i <= n):
    j = i
    while(j >= 1):
        print(j, end = '')
        j -= 1
    print()
    i += 1

4
1
21
321
4321

# Character Patterns

In [ ]:
Pattern 1:
ABCD
ABCD
ABCD
ABCD

Pattern 2:
ABCD
BCDE
CDEF
DEFG

In [15]:
# Finding the ASCII value of a character using the ord() method
# k = int(input())
print(ord('A'))
print(chr(66)) # Gives you the character corresponding to the ASCII value

65
B

In [26]:
n = int(input())
i = 1
while(i <= n):
    j = 1
    while(j <= n):
        charNext = chr(ord('A') + j - 1)
        print(charNext, end = '')
        j = j + 1
    print()
    i = i + 1

4
ABCD
ABCD
ABCD
ABCD

In [29]:
# Pattern 2
n = int(input())
i = 1
while(i <= n):
    j = 1
    startChar = chr(ord('A') + i - 1)
    while(j <= n):
        charNext = chr(ord(startChar) + j - 1)
        print(charNext, end = '')
        j = j + 1
    print()
    i = i + 1

4
ABCD
BCDE
CDEF
DEFG

In [ ]:
Print the following pattern for the given N number of rows.
Pattern for N = 4
A
BC
CDE
DEFG
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 13
Sample Input 1:
5
Sample Output 1:
A
BC
CDE
DEFG
EFGHI
Sample Input 2:
6
Sample Output 2:
A
BC
CDE
DEFG
EFGHI
FGHIJK

In [3]:
n = int(input())
i = 1
while(i <= n):
    j = 1
    startChar = chr(ord('A') + i - 1)
    while(j <= i):
        charNext = chr(ord(startChar) + j - 1)
        print(charNext, end = '')
        j += 1
    print()
    i += 1

4
A
BC
CDE
DEFG

In [ ]:
Code : Interesting Alphabets

Print the following pattern for the given number of rows.
Pattern for N = 5
E
DE
CDE
BCDE
ABCDE
Input format :
N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 26
Sample Input 1:
8
Sample Output 1:
H
GH
FGH
EFGH
DEFGH
CDEFGH
BCDEFGH
ABCDEFGH
Sample Input 2:
7
Sample Output 2:
G
FG
EFG
DEFG
CDEFG
BCDEFG
ABCDEFG

In [12]:
n = int(input())
i = 1
while(i <= n):
    j = 1
    startChar = chr(ord('A') + n - i)
    while(j <= i):
        charNext = chr(ord(startChar) + j - 1)
        print(charNext, end = '')
        j += 1
    print()
    i += 1

4
D
CD
BCD
ABCD

In [ ]:
Code : Inverted Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
4444
333
22
1
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints :
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
55555 
4444
333
22
1
Sample Input 2:
6
Sample Output 2:
666666
55555 
4444
333
22
1

In [15]:
# In each row we will be printing (n - i + 1) columns
n = int(input())
i = 1
while(i <= n):
    j = 1
    while(j <= n - i + 1):
        print('*', end = '')
        j += 1
    print()
    i += 1

4
****
***
**
*

In [ ]:
Code : Inverted Number Pattern

Print the following pattern for the given N number of rows.
Pattern for N = 4
4444
333
22
1
Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints :
0 <= N <= 50
Sample Input 1:
5
Sample Output 1:
55555 
4444
333
22
1
Sample Input 2:
6
Sample Output 2:
666666
55555 
4444
333
22
1

In [23]:
n = int(input())
i = 1
k = n
while(i <= n):
    j = 1
    while(j <= n - i + 1):
        print(k, end = '')
        j += 1
    k -= 1
    print()
    i += 1

4
4444
333
22
1

In [ ]:
Print the following pattern
   *
  **
 ***
****
# The number of spaces to print in each row = n - i
# The number of stars to print in each row = i

In [24]:
n = int(input())
i = 1
while(i <= n):
    spaces = 1
    while(spaces <= n - i):
        print(' ', end = '')
        spaces += 1
    j = 1
    while(j <= i):
        print('*', end = '')
        j += 1
    print()
    i += 1

4
   *
  **
 ***
****

In [ ]:
Print the following pattern for the given N number of rows.
Pattern for N = 4

Input format :
Integer N (Total no. of rows)
Output format :
Pattern in N lines
Constraints
0 <= N <= 50
Sample Input 1:
3
Sample Output 1:
  1 
 12
123
Sample Input 2:
4
Sample Output 2:
   1 
  12
 123
1234

In [28]:
n = int(input())
i = 1
while(i <= n):
    spaces = 1
    while(spaces <= n - i):
        print(' ', end = '')
        spaces += 1
    j = 1
    while(j <= i):
        print(j, end = '')
        j += 1
    print()
    i += 1

4
   1
  12
 123
1234

In [ ]:
Print the following pattern
    1
   121
  12321
 1234321

In [29]:
n = int(input())
i = 1
while(i <= n):
    spaces = 1
    while(spaces <= n - i):
        print(' ', end = '')
        spaces += 1
    j = 1
    p = 1
    # increasing sequence
    while(j <= i):
        print(p, end = '')
        p += 1
        j += 1
    # decreasing sequence
    p = i - 1
    while (p >= 1):
        print(p, end = '')
        p -= 1
    print()
    i += 1

4
   1
  121
 12321
1234321